/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: auto;
  background: black;
  color: white;
}

/******************************************
/* LAYOUT
/*******************************************/


h1{
  text-align: center;
}
section{
  width: 500px;
  height: 500px;
 text-align: center;
}

div{
  font-size: 50px;
}

.box{
  width: 33.333%;
  height: 33.333%;
  float:left;
 
  border: 3px solid white;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
